<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

  <section class="home-hero text-center">
    <h1 th:text="#{welcome}">Welcome</h1>
    <p class="home-hero__tagline" th:text="#{welcomeTagline}">Everything you need to care for your patients, in one
      place.</p>
    <a class="btn btn-primary btn-lg" th:href="@{/owners/find}">
      <span class="fa fa-search" aria-hidden="true"></span>
      <span th:text="#{findOwners}">Find Owners</span>
    </a>
  </section>

  <div class="row home-cards">
    <div class="col-md-4">
      <div class="card home-card">
        <div class="card-body text-center">
          <span class="fa fa-search fa-2x home-card__icon" aria-hidden="true"></span>
          <h3 th:text="#{findOwners}">Find Owners</h3>
          <a class="stretched-link" th:href="@{/owners/find}"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card home-card">
        <div class="card-body text-center">
          <span class="fa fa-th-list fa-2x home-card__icon" aria-hidden="true"></span>
          <h3 th:text="#{vets}">Veterinarians</h3>
          <a class="stretched-link" th:href="@{/vets.html}"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card home-card">
        <div class="card-body text-center">
          <span class="fa fa-user-plus fa-2x home-card__icon" aria-hidden="true"></span>
          <h3 th:text="#{addOwner}">Add Owner</h3>
          <a class="stretched-link" th:href="@{/owners/new}"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center home-image">
      <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}" />
    </div>
  </div>

</body>

</html>